$din-regular: 'DIN-Regular';

@font-face {
	font-family: 'DIN-Regular';
	src: url('/assets/fonts/DIN-Regular/DIN-Regular.eot');
	src: url('/assets/fonts/DIN-Regular/DIN-Regular.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/DIN-Regular/DIN-Regular.woff2') format('woff2'),
		url('/assets/fonts/DIN-Regular/DIN-Regular.woff') format('woff'),
		url('/assets/fonts/DIN-Regular/DIN-Regular.ttf') format('truetype'),
		url('/assets/fonts/DIN-Regular/DIN-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.header-1 {
	font-size: 34px;
	letter-spacing: 0.25px;
	font-family: $din-regular;
	font-style: italic;
}

.header-2 {
	font-size: 24px;
	letter-spacing: 0.25px;
	font-family: $din-regular;
}

.header-3 {
	font-size: 20px;
	font-family: $din-regular;
}

.subtitle-1 {
	font-family: $din-regular;
	font-size: 18px;
	letter-spacing: 0.25px;
}

.subtitle-2 {
	font-family: $din-regular;
	font-size: 16px;
	letter-spacing: 0.1px;
}

.body-1 {
	font-family: $din-regular;
	font-size: 18px;
	letter-spacing: 0.5px;
}

.body-2 {
	font-family: $din-regular;
	font-size: 16px;
	letter-spacing: 0.1px;
}

.caption-1 {
	font-family: $din-regular;
	font-size: 14px;
	letter-spacing: 0.4px;
}

.caption-2 {
	font-family: $din-regular;
	font-size: 12px;
	letter-spacing: 0.4px;
}
