<div>
	<div fxLayout="column" fxLayoutAlign="center center" class="px-24 py-16 header-2">
		Pay With PayPal
	</div>
	<mat-divider></mat-divider>

	<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px" class="p-24">
		<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="12px" class="w-100-p">
			<div class="w-100-p">
				<mat-form-field appearance="outline" class="w-100-p">
					<mat-label>Text to Seller</mat-label>
					<input matInput placeholder="Enter message" />
				</mat-form-field>
			</div>

			<!-- <div class="w-100-p">
					<input type="file" name="image" />
				</div> -->
		</div>

		<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="12px" class="w-100-p">
			<div class="w-100-p">
				<mat-form-field appearance="outline" class="w-100-p">
					<mat-label>Mobile Number</mat-label>
					<input matInput placeholder="Enter Mobile Number" />
				</mat-form-field>
			</div>

			<!-- <div class="w-100-p">
					<input type="file" name="image" />
				</div> -->
		</div>
	</div>
	<mat-divider></mat-divider>

	<div fxLayout="column" fxLayoutAlign="center center" class="p-12">
		<button type="submit" mat-raised-button class="w-224" color="primary" (click)="submit()">
			Next
		</button>
	</div>
</div>
